# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Environment / Secrets
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Dataset
# ==========================================
Dataset/
*.csv

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.temp
*.bak

# ==========================================
# Python cache
# ==========================================
*.pyc
*.pyo
*.pyd

# ==========================================
# Model files
# ==========================================
models/saved_models/*.pt
models/saved_models/*.pkl
!models/saved_models/transformer_best.pt

# ==========================================
# Databases
# ==========================================
databases/*.db
